extends entres/layout.pug

block title
    |Hello World
block content
    table.table
        thead
            th #
            th タイトル
            th 作成日
            th 更新日
            td
        tbody
            for entry in entres
                tr
                    td= entry.id
                    td= entry.title
                    td= entry.create_at
                    td= entry.update_at
                    td
                        .row
                            a.btn.btn-danger.pull-right(href="{{ url_for('entres.destroy',id=entry.id) }}") Del
                            a.btn.btn-primary.pull-right(href="{{ url_for('entres.edit',id=entry.id) }}") Edit
