extends users/layout.pug

block title
    |メンバー一覧
block content
    table.table.table-hover
        thead
            tr
                th #
                th ユーザID
                th 作成日
                th 更新日
                td
        tbody
            for user in users
                tr
                    td= user.id
                    td= user.userid
                    td= user.create_at
                    td= user.update_at
                    td
                        if user.userid != 'admin'
                            .row
                                a.btn.btn-danger.pull-right(href="{{ url_for('users.destroy',id=user.id) }}") 削除
