extends layout.pug

block title
    |ペタペタシステム
block content
    table.table.table-hover
        thead
            tr
                th 名前
                th(colspan="2") 本日
                th(colspan="2") 昨日(または土曜日)
                td
        tbody
            for item in items
                tr
                    td= item['name']
                    td= item['work_in']
                    td= item['work_out']
                    td= item['work_in_1']
                    td= item['work_out_1']
                    td
                        .row
                            .btn-group
                                a.btn.btn-info(href="{{ url_for('workrecs.index',id=item['id']) }}") 出退勤簿
                                a.btn.btn-info(href="{{ url_for('pdf.print_pdf',id=item['id'], yymm=yymm) }}" target="_blank") 当月実績表
                                a.btn.btn-info(href="{{ url_for('pdf.print_pdf',id=item['id'], yymm=yymm_1) }}" target="_blank") 前月実績表
